@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Reenie+Beanie&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  touch-action: none;
}

body.loading {
  height: 100vh !important;
  overflow: hidden !important;
}

html.lenis,
html.lenis body {
  height: auto;
}
html,
body {
  overscroll-behavior: none;
  cursor: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* .lenis.lenis-stopped {
  overflow: clip;
} */

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scene-inner {
  overflow: hidden;
  width: 100% !important;
  max-width: 100% !important;
  /* height: 1000dvh !important; */
  max-height: none !important;
  transition: 0s !important;
  position: relative; /* Needed for proper pinning */
}

.scene-content {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
  perspective: 500px;
  perspective-origin: calc(50%) calc(45%);
}

.scene-content-inner {
  transform-style: preserve-3d;
  height: 100dvh;
}

#joystick {
  /* z-index: 150; */
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  width: 150px;
  height: 150px;
  pointer-events: none;
}
#outer-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
#inner-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: auto; /* Inner circle should capture pointer events */
}
